{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Books Manager</title>

    <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Font-Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Books Manager</a>
</nav>

<div class="jumbotron">
    <div class="container-fluid">
        <h1 class="display-4">Welcome to the books manager.</h1>
        <p class="lead">Add your favourite book. It's easy!</p>
    </div>
</div>

<div class="container">
    {% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">List of books</h5>
                    <p class="card-text">Review the list of books in the database.</p>
                    <a href="#" class="btn btn-primary btn-lg">
                        <span><i class="fas fa-list-ul"></i></span> Go
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Import books</h5>
                    <p class="card-text">Import books from Google Books API.</p>
                    <a href="#" class="btn btn-primary btn-lg">
                        <span><i class="fas fa-upload"></i></span> Go
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Add book</h5>
                    <p class="card-text">Add your own book that you want to the database.</p>
                    <a href="#" class="btn btn-primary btn-lg">
                        <span><i class="fas fa-plus-square"></i></span> Go
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>

<nav class="navbar fixed-bottom  navbar-dark bg-dark">
    <div style="text-align: center; flex: auto">
        <a class="navbar-brand mr-sm-2" href="https://www.github.com/swozny13">github</a>
        <a class="navbar-brand" href="https://www.linkedin.com/in/sebastian-wo%C5%BAniak-9b0b88144/">linkedin</a>
    </div>
</nav>

<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

</body>
</html>